menu "Wifi Configuration"

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
	help
		SSID (network name) for the example to connect to.

config WIFI_PASSWORD
    string "WiFi Password"
	default "myssid"
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.

endmenu

menu "mDNS Configuration"
		
config MDNS_HOSTNAME
    string "mDNS Hostname"
	default "esp32"
	help
		mDNS Hostname

config MDNS_INSTANCE
    string "mDNS Instance"
	default "ESP32 Demo Board"
	help
		mDNS Instance

endmenu